/*<!---------------------------------------
    Name: Ayush Panday
    Course: INFT-1206-05-Web Development Fundamentals
    Date: 23rd February 2024
    -------------------------------------
    Assignment 3: CSS
    -------------------------------------
------------------------------------------>*/
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;

  }
  
  nav {
    background-color: #000;
    padding: .5em;

    /* making the menu stay at top even after scrolling */
    /* REFERENCE: https://blog.hubspot.com/website/css-position-sticky#:~:text=A%20sticky%20element%20is%20positioned,boundary%20of%20its%20parent%20element. */
    position: sticky;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    /* displaying in the row with teh space between. */
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;

    /* arranging pictures into columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5px;
  }

  .feature {
      width: 200px;

      /* making picture stay at left and the text around it */
      float: left;
      margin-right: 1em;
  }